<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
</head>
<body>
{{> header }}
<div><p>We will be right back!</p></div></div>

{{> footer }}
</body>
</html>